* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 90%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
            /* nav */

nav{
    background-color: black;
    width: 250px;
    height: calc(100vh - 80px);
    max-height: 100%;
}

nav #logo{
    width: 70%;
    margin: 1em;
}

.menu-navbar {
    margin: 1em 1em;
}

.flex {
    display: flex;
}

.container nav .menu-navbar li a svg {
    width: 15%;
}


.margin-navbar {
    margin: 1em 0;
}

.menu-navbar li a h4 {
    margin: 0.3em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
}

.container nav .menu-navbar li a:hover{
    color: white;
}
svg:hover path {
    fill: white;
}

.link {
    text-transform: uppercase;
    color: white;
    margin: 2em 1em;
}
.fa-plus-square{
    font-size: 3.5em;

}
.align {
    align-items: center;
}

.account {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20%;
}
.fa-arrow-circle-down {
    font-size: 0.9em;
    color: grey;
}






            /* /nav */


            /* main */
.upgrade {
    background-color: rgba(0, 0, 0, 0.411);
    width: calc(100% - 250px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9999;
}            

.container-main {
    display: flex;
    flex-direction: column;     
}

.btn-main {
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 1em 3em;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin: 2em;
}
.btn-main:hover {
    padding: 1.2em 3.2em;
}
            /* /main */


footer {
    height: 80px;
    width: 100%;
    background-color: #313131;
    z-index: 9998;
    position: fixed;
    bottom: 0;
    left: 0;
}