* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 90%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.float {
    float: left;
}

.none {
    display: none;
}

.relative {
    position: relative;
}

.space {
    justify-content: space-between;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
        /* VIEWPORT */

.height-playlist {
    max-height: 35vh;
}

            /* nav */

.nav-top {
    height: calc(100% - 110px);
    overflow: hidden;
}

nav {
    width: 250px;
    height: 100%;
    background-color: black;
    min-height: 350px;
}
/* HIDE NAVBAR */
/* .hide-nav{
    display: none; */
}

/* /HIDE NAVBAR */
nav #logo{
    width: 70%;
    margin: 1em;
}

.menu-navbar {
    margin: 1em 1em;
}
.overflow {
    overflow: auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.container nav .menu-navbar li a svg {
    width: 15%;
}


.margin-navbar {
    margin: 1em 0;
}

.menu-navbar li a h4 {
    margin: 0.3em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
}

.container nav .menu-navbar li a:hover{
    color: white;
}
.container nav .menu-navbar li:hover path {
    fill: white;
}

.link {
    text-transform: uppercase;
    color: white;
    margin: 2em 1em;
}
.fa-plus-square{
    font-size: 3.5em;
    margin: 0 0.4em;

}
.align {
    align-items: center;
}

.playlist:hover a {
    color: white;
}
}

.account {
    height: 80px;
}
.fa-arrow-circle-down {
    font-size: 0.9em;
    color: grey;
}

.account .menu-navbar .margin-navbar a .border-h4 {
    padding: 0.5em 6em 0.5em 1em;
}

.account .menu-navbar li .border{
    border-bottom: 1px solid grey;
}

.account .menu-navbar .margin-navbar a svg {
    width: 12%;
    border-radius: 15px;
    background-color: grey;
    margin-right: 1em;
}
.account .menu-navbar .margin-navbar a h3 {
    color: white;
}

#green-nav-border {
    border-left: 2px solid rgb(154,226,45);
}

            /* /nav */


            /* main */
main{
    width: 100%;
    height: calc(100% - 80px);
    overflow:hidden;
}

.container-main {
    width: calc(100% - 250px);
    height: calc(100vh - 80px);
    background-color: rgb(20,25,34);
    padding: 1em;
    color: white;
}

/* UPGRADE BAR */
.upgrade {
    background-color: rgba(0, 0, 0, 0.411);
    width: calc(100% - 250px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9999;
}            

.btn-main {
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 1em 3em;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin: 0 2em;
}
.btn-main:hover {
    padding: 1.2em 3.2em;
}
/* /UPGRADE BAR */

.content-width {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 80px);
    padding-top: 80px;
}
.nav-main {
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    color: gray;
}
.main-btn {
    flex-wrap: wrap;
}

.nav-main .main-btn li {
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-main .main-btn li:hover a {
    color: white;
}
.green-border {
    border-bottom: 2px solid rgb(154,226,45);
}

/* ALBUM */

.container-main h2 {
    padding: 1em 0;
    font-size: 2em;
}
.album-row {
    width: 100%;
}
.album {
    width: calc((100% / 6) - 2em);
    text-align: center;
}
.album-row .album h4 {
    margin: 0.5em;
}

.album-row .album h5 {
    color: gray;
}

.album-row .album img {
    width: 100%;
}

.mrg-1 {
    margin-right: 2em;
}

.container-main h3 {
    padding-bottom: 1em;
    color: grey;
    font-size: 1em;
}

.album .relative .radius {
    border-radius: 50%;
}






.album-row .album:hover {
    cursor: pointer;
}
.album-row .album:hover div i {
    display: block;
}
.album-row .album:hover div img {
    opacity: 0.4;

}

.play-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    cursor: pointer;
    display: none;
}

            /* /main */

            
footer {
    height: 80px;
    width: 100%;
    background-color: rgb(40,40,40);
    overflow: hidden;
}
            
            /* COLONNA SINISTRA */

.footer-sx {
    width: 16%;
    height: 100%;
    align-items: center;
    min-width: 120px;
}


.track {
    width: 50px;
    height: 50px;
    margin: 1em;
}

.favourites {
    justify-content: flex-end;
    width: 30%;
    flex-wrap: wrap;
}

.footer-sx .favourites .fa-heart:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.1);
}

.footer-sx .favourites .fa-folder:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

footer img {
    width: 100%;
}
footer a:hover{
    text-decoration: underline;
    color: white;
}
footer h4 a {
    color: white;
}

footer .far {
    margin: 0.5em;
}

/* COLONNA CENTRALE */

.footer-central {
    width: 68%;
    height: 100%;
}

.instrument{
        justify-content: center;
}

.footer-central .instrument [class*="fa-"] {
    color: rgb(156, 156, 156);
    margin: 0.8em;
    font-size: 1.3em;
}

.footer-central .instrument i:hover {
    cursor: pointer;
    color: white;
}

.footer-central .instrument .fa-play-circle:hover {
    transform: scale(1.2);
}

.footer-central .instrument .fa-play-circle {
    font-size: 2.5em;
    margin: 0.19em 0;
}

.bar {
    justify-content: center;
    font-size: 0.7em;
    align-items: center;
    color: white;
    font-weight: bold;
}

.bar-line-dark {
    height: 4px;
    width: 80%;
    background-color: rgb(90,90,90);
    margin: 0 2em;
    border-radius: 10px;
    align-items: center;
}

.bar-line-light {
    height: 4px;
    width: 20%;
    background-color: white;
    border-radius: 10px;
}

.footer-central .bar .bar-line-dark:hover .bar-line-light {
    height: 5px;
    background-color:yellowgreen;
    cursor: pointer;
}
.footer-central .bar .bar-line-dark:hover .pointer {
    width: 8px;
    height: 7px;
    border-radius: 15px;
    background-color: white;
}

/* COLONNA SINISTRA */

.volume {
    align-items: center;
}

.footer-sx .volume i {
    margin: 0 0.7em;
}

.bar-volume-dark {
    height: 5px;
    width: 8vw;
    background-color: grey;
    border-radius: 10px;
}

.bar-volume-light {
    height: 5px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
}

.volume .bar-volume-dark:hover .bar-volume-light {
    background-color: yellowgreen;
    height: 5px;
    cursor: pointer;
}


.footer-sx .volume .bar-volume-dark:hover .pointer {
    width: 8px;
    height: 7px;
    border-radius: 15px;
    background-color: white;
}

.footer-sx .volume i:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}


/* I breakpoint da usare per le media query sono: 600px, 700px e 1100px */

@media screen and (max-width: 600px){
    .nav-top { 
        display: none;
    }
    .account {
        display: none;
    }

    nav {
        width: 50px;
    }
    .hide.nav {
        display: block;
    }
    .container .clearfix .hide-nav ul li a img {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0.5em;
        color: grey;
    }
    .container .clearfix .hide-nav ul li:hover a img{
        color: white;
    }
    .container-main {
        width: calc(100% - 50px);
    }
    .upgrade {
        width: calc(100% - 50px);
    }

    .album-row {
        flex-wrap: wrap;
    }

    .album {
        width: 40vw;
    }  

    .content-width {
        width: calc(100vw - 62px);
    }

    .main-btn {
        justify-content: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 700px){
     .album {
        width: calc((100% / 2) - 2em);
    }

    .album-row{
        flex-wrap: wrap;
    }
    
}


@media screen and (max-width: 1100px) and (min-width: 701px){
    .album-row{
        flex-wrap: wrap;
        justify-content: start;
    }

    .album-row li {
        width: calc(25% - 1em);
        margin-right: 1em;
    }
}

