* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 90%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.float {
    float: left;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}


            /* nav */

.nav-top {
    height: calc(100% - 110px);
}

nav {
    width: 250px;
    height: 100%;
    background-color: black;
    min-height: 300px;
}

nav #logo{
    width: 70%;
    margin: 1em;
}

.menu-navbar {
    margin: 1em 1em;
}
.overflow {
    overflow: auto;
}
.height-playlist {
    max-height: 30vh;
}
.flex {
    display: flex;
}

.container nav .menu-navbar li a svg {
    width: 15%;
}


.margin-navbar {
    margin: 1em 0;
}

.menu-navbar li a h4 {
    margin: 0.3em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
}

.container nav .menu-navbar li a:hover{
    color: white;
}
svg:hover path {
    fill: white;
}

.link {
    text-transform: uppercase;
    color: white;
    margin: 2em 1em;
}
.fa-plus-square{
    font-size: 3.5em;
    margin: 0 0.4em;

}
.align {
    align-items: center;
}

.playlist:hover a {
    color: white;
}
}

.account {
    height: 80px;
}
.fa-arrow-circle-down {
    font-size: 0.9em;
    color: grey;
}

.account .menu-navbar .margin-navbar a .border-h4 {
    padding: 0.5em 6em 0.5em 1em;
}

.account .menu-navbar li .border{
    border-bottom: 1px solid grey;
}

.account .menu-navbar .margin-navbar a svg {
    width: 12%;
    border-radius: 15px;
    background-color: grey;
    margin-right: 1em;
}
.account .menu-navbar .margin-navbar a h3 {
    color: white;
}



            /* /nav */


            /* main */
main{
    width: 100%;
    height: calc(100% - 80px);
    overflow:hidden;
}

.upgrade {
    background-color: rgba(0, 0, 0, 0.411);
    width: calc(100% - 250px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 9999;
}            

.container-main {
    width: calc(100% - 250px);
    height: 100%;
    background-color: rgb(44,44,44);
}

.btn-main {
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 1em 3em;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin: 2em;
}
.btn-main:hover {
    padding: 1.2em 3.2em;
}
            /* /main */


footer {
    height: 80px;
    width: 100%;
    background-color: #313131;
}